<?xml version="1.0"?>
<!--
/**
 * 
 *  @category  Priyank Jain
 *  @package   Neosoft_BannerSlider
 *  @copyright Copyright (c) 2018
 *  @license   priyank.jain@wwindia.com
 * 
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Neosoft_BannerSlider::bannerslider" title="Banner Slider" sortOrder="55">
                    <resource id="Neosoft_BannerSlider::banner" title="Banners" sortOrder="10"/>
                    <resource id="Neosoft_BannerSlider::slider" title="Sliders" sortOrder="20"/>
                </resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Neosoft_BannerSlider::bannerslider_config" title="Banner Slider"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
