<?xml version="1.0"?>
<!--
/**
 * 
 *  @category  Priyank Jain
 *  @package   Neosoft_BannerSlider
 *  @copyright Copyright (c) 2018
 *  @license   priyank.jain@wwindia.com
 * 
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <virtualType name="NeosoftBannerSliderGirdFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="NeosoftBannerSliderBannerGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Neosoft\BannerSlider\Model\ResourceModel\Banner\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">NeosoftBannerSliderGirdFilterPool</argument>
        </arguments>
    </virtualType>
    <virtualType name="NeosoftBannerSliderSliderGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Neosoft\BannerSlider\Model\ResourceModel\Slider\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">NeosoftBannerSliderGirdFilterPool</argument>
        </arguments>
    </virtualType>
    <type name="Neosoft\BannerSlider\Model\ResourceModel\Banner\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">neosoft_bannerslider_banner</argument>
            <argument name="eventPrefix" xsi:type="string">neosoft_bannerslider_banner_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">banner_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Neosoft\BannerSlider\Model\ResourceModel\Banner</argument>
        </arguments>
    </type>
    <type name="Neosoft\BannerSlider\Model\ResourceModel\Slider\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">neosoft_bannerslider_slider</argument>
            <argument name="eventPrefix" xsi:type="string">neosoft_bannerslider_slider_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">slider_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Neosoft\BannerSlider\Model\ResourceModel\Slider</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="neosoft_bannerslider_banner_listing_data_source" xsi:type="string">Neosoft\BannerSlider\Model\ResourceModel\Banner\Grid\Collection</item>
                <item name="neosoft_bannerslider_slider_listing_data_source" xsi:type="string">Neosoft\BannerSlider\Model\ResourceModel\Slider\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
</config>
